<h1>{{Admin Dashboard}}</h1>

<p>Use the links below to manage building data.</p>

<ul>
  <li><a href="/admin/add">Add Building</a></li>
  <li><a href="/admin/edit">Edit Building</a></li>
  <li><a href="/admin/delete">Delete Building</a></li>
</ul>