<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/public/css/sitestyles.css' />
  </head>
  <body>
    {{> navbar}}

    <main class='site-container'>
      {{{body}}}
    </main>

    <script src='/public/js/form_validate.js'></script>
    <script src='/public/js/building_tabs.js'></script>
  </body>
</html>
