<h1>My Favorite Buildings</h1>

{{#if buildings.length}}
  <ul>
    {{#each buildings}}
      <li>
        <a href='/building/{{this.BIN}}'>
          {{this.address}}
        </a>

        <form action='/favorites/{{this.BIN}}/remove' method='POST'>
          <button type='submit'>Remove</button>
        </form>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>You haven't saved any buildings yet.</p>
{{/if}}

<a href='/' class='back-link'>Back to Search</a>