<main>
  <h1 id='appTitle'>Before You Sign</h1>

  <p id='siteDescription'>
    Welcome to before you sign, your one-stop-shop for all your renting questions!
  </p>

  {{! NOT logged in }}
  {{#unless loggedIn}}
    <p>
      <a id='registerlink' href='/register'>Register Here</a>
    </p>
    <p>
      <a id='signinlink' href='/signin'>Sign In Here</a>
    </p>
  {{/unless}}

  {{! Logged in }}
  {{#if loggedIn}}
    <p>
      <a id='memberlink' href='/member'>Member Page</a>
    </p>

    {{#if isAdmin}}
      <p>
        <a id='managerlink' href='/manager'>Manager Page</a>
      </p>
    {{/if}}

    {{! ✅ Sign Out link }}
    <p>
      <a id='signoutlink' href='/signout'>Sign Out</a>
    </p>
  {{/if}}

  <footer id='siteFooter'>
  </footer>
</main>